Data_masks_png
Different_convolutions
Graphs
Images
Model
not_needed_scripts
Pictures
python
Results/*
Summaries
alex_report.docx
final_paper.pdf
combine_masks.py
Report.pdf
Road
train_road_tar.py
train_roads.py
